@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
      text-shadow: 2px 2px 2px rgba(66, 65, 65, 0.2);
    }
    100% {
      transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;   
}

.container { 
    width: 1140px; 
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 768px) {
    .container { 
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    .container { 
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}


.header {
    font-family: 'Noto Serif Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header1 {
    margin: 5px;
    font-size: 4rem;
    color: rgb(223, 145, 57);
    letter-spacing: 0.2rem;
    text-decoration: none;
    animation: bounceIn 2s;
}

#header2 {

    font-size: 1.1rem;
    color: rgb(126, 126, 126);
    letter-spacing: 0.05rem;
    animation: bounceIn 2s;
}

.nav-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* word-spacing: 2em;   */

}

@media (min-width:768px) and (max-width: 1140px){
    #dummy-span {
        display: none;
    }
    
    #search {
        margin: 10px 10px;
    }
    .nav-menu {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-nav {
        flex-direction: column;
        align-items: center;
    }

    .right-nav {
        flex-direction: column;
        align-items: center;
    }

    .left-nav > a {
        margin: 10px 10px;
    }

    .right-nav > a {
        margin: 10px 10px;
    }
}

@media (max-width: 768px) {
    #dummy-span {
        display: none;
    }

    #header1 {
        margin: 0;
     }
 
    #search {
        margin: 10px 10px;
    }
    .nav-menu {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-nav {
        flex-direction: column;
        align-items: center;
    }

    .right-nav {
        flex-direction: column;
        align-items: center;
    }

    .left-nav > a {
        margin: 10px 10px;
    }

    .right-nav > a {
        margin: 10px 10px;
    }
}

a {
    margin-left: 20px;
    margin-right: 20px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav a {

    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;

}

.left-nav a:link {
    text-decoration: underline 0.15rem rgba(223, 145, 57, 0);
    transition: text-decoration-color 300ms;
}

.left-nav a:visited {
    color: gray;
    text-decoration: none;
}

.left-nav a:hover {
    color: rgb(223, 145, 57);
    text-decoration-color: rgb(223, 145, 57);
}

.left-nav a:active {
    font-weight: bold;
    color: rgb(230, 142, 42);
    text-decoration: underline;
}

.right-nav a {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;

}

.right-nav a:link {
    text-decoration: underline 0.15rem rgba(223, 145, 57, 0);
    transition: text-decoration-color 300ms;
}

.right-nav a:visited {
    color: gray;
    text-decoration: none;
}

.right-nav a:hover {
    color: rgb(223, 145, 57);
    text-decoration-color: rgb(223, 145, 57);
}

.right-nav a:active {
    font-weight: bold;
    color: rgb(230, 142, 42);
    text-decoration: underline;
}

#search {
    padding: 5px;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#search:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
}

#search:hover {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

#dummy-span {
    color: rgb(126, 126, 126);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

/* ---------------CONTACT US------------------- */


/* --------------footer---------------- */

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(141, 140, 140);
    margin-top:1rem; 
    justify-content: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
}

.fo {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    margin-right: 100px;
   
}

.news {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 33.3%;
    
}

.news > p {
    font-family: 'Noto Serif Display', serif;
    text-align: left;
    color: white;
    font-weight: 200;
    font-size: 1rem;
}
    
#type-text {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    cursor: pointer;
    padding: 2px;
    font-size: 0.7rem;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-right: 30px;
    margin-top: 10px;
    box-sizing: border-box;
}

#type-text:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
    cursor: text;
}

#type-text:hover {
    box-shadow: 0 0 5pt 2pt #a5a5a5;
}

#type-submit {
    width: 70%;
    color: white;
    background-color: rgb(211, 169, 92);
    cursor: pointer;
    padding: 2px;
    font-size: 0.8rem;
    font-family: 'Noto Serif Display', serif;
    border: none;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.fo a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: right;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.fo > .top-nav {
    
    font-weight: 200;
}

#loremm {
    font-size: 0.4rem;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

.sol {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    color: white; 
}

.sol .sol-p{
    font-family: 'Noto Serif Display', serif;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.sol > div{
    margin-top: 5px;
    margin-bottom: 2rem;
    font-size:3rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    font-family: 'Noto Serif Display', serif;
}
   
.sol:last-child{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
}

@media (max-width: 768px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fo {    
        text-align: center;
        margin-right: 0;
    }

    .fo a {
        align-items: center;
    }

    .news{
        align-content: center;
    }

    .news > p{
        text-align: center;
    }

    #type-text{
        width: 100%;
    }

    #type-submit{
        width: 100%;
    }
    #loremm {
        width: 100%;
    }
    .sol > p, .sol > div {
        text-align: center;
    }
}