* {
    margin: 0;
    padding: 0;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
      text-shadow: 2px 2px 2px rgba(66, 65, 65, 0.2);
    }
    100% {
      transform: scale(1);
    }
}

.container { /* ogranicili unutar kontejnera */
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 768px) {
    .container { /* ogranicili unutar kontejnera */
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    .container { /* ogranicili unutar kontejnera */
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header {
    font-family: 'Noto Serif Display', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header1 {
    margin: 5px;
    font-size: 4rem;
    color: rgb(223, 145, 57);
    letter-spacing: 0.2rem;
    text-decoration: none;
    animation: bounceIn 2s;
}

#header2 {

    font-size: 1.1rem;
    color: rgb(126, 126, 126);
    letter-spacing: 0.05rem;
    animation: bounceIn 2s;
}

.nav-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* word-spacing: 2em;   */

}

@media (min-width:768px) and (max-width: 1140px){
    #dummy-span {
        display: none;
    }
    
    #search {
        margin: 10px 10px;
    }
    .nav-menu {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-nav {
        flex-direction: column;
        align-items: center;
    }

    .right-nav {
        flex-direction: column;
        align-items: center;
    }

    .left-nav > a {
        margin: 10px 10px;
    }

    .right-nav > a {
        margin: 10px 10px;
    }
}

@media (max-width: 768px) {
    #dummy-span {
        display: none;
    }

    #header1 {
        margin: 0;
     }
 
    #search {
        margin: 10px 10px;
    }
    .nav-menu {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-nav {
        flex-direction: column;
        align-items: center;
    }

    .right-nav {
        flex-direction: column;
        align-items: center;
    }

    .left-nav > a {
        margin: 10px 10px;
    }

    .right-nav > a {
        margin: 10px 10px;
    }
}

a {
    margin-left: 20px;
    margin-right: 20px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav a {

    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;

}

.left-nav a:link {
    text-decoration: underline 0.15rem rgba(223, 145, 57, 0);
    transition: text-decoration-color 300ms;
}

.left-nav a:visited {
    color: gray;
    text-decoration: none;
}

.left-nav a:hover {
    color: rgb(223, 145, 57);
    text-decoration-color: rgb(223, 145, 57);
}

.left-nav a:active {
    font-weight: bold;
    color: rgb(230, 142, 42);
    text-decoration: underline;
}

.right-nav a {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;

}

.right-nav a:link {
    text-decoration: underline 0.15rem rgba(223, 145, 57, 0);
    transition: text-decoration-color 300ms;
}

.right-nav a:visited {
    color: gray;
    text-decoration: none;
}

.right-nav a:hover {
    color: rgb(223, 145, 57);
    text-decoration-color: rgb(223, 145, 57);
}

.right-nav a:active {
    font-weight: bold;
    color: rgb(230, 142, 42);
    text-decoration: underline;
}

#search {
    padding: 5px;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#search:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
}

#search:hover {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

#dummy-span {
    color: rgb(126, 126, 126);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

/* ---------------PART 1------------------- */
#content1-text {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(223, 145, 57);
    overflow: hidden;
}

.image-dimensions {
    width: 1140px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-dimensions1 {
    width: 1140px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

@media (max-width: 1140px) and (min-width: 768px) {
    .image-dimensions {
        width: 768px;
    }
}

.email-signup-container {
    display: flex;
    flex-direction: column;
    width: 18rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    .image-dimensions {
        width: 8rem;
        visibility: hidden;
    }

    #content1-text{
        display: none;
    }
    
}

#content1-text p {
    margin: 20px;
}

.content1-container {
    position: relative;
}

#email {
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    cursor: pointer;
    padding: 2px;
    font-size: 1rem;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#email:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
    cursor: text;
}

#email:hover {
    box-shadow:  5pt 2pt #D3D3D3;
}

#sign-up {
    margin: 0.5rem;
    font-family: 'Noto Serif Display', serif;
    border: none;
    background-color: rgb(245, 177, 99);
    color: white;
    cursor: pointer;
    padding: 2px;
    font-size: 1em;
}

/* ---------------PART 2---------------- */

#tips {
    font-family: 'Noto Serif Display', serif;
    color: rgb(223, 145, 57);
    font-size: 1.5rem;
    word-spacing: 0.01rem;
    text-align: center;
    margin-top: 20px;
}

.content-2-board {
    padding-top: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-left: 4rem;
}

@media (max-width: 768px) {
    .content-2-board {
        padding-top: 20px;
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-img {
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    box-shadow: 0 0.15em 0.175em hsla(0, 0%, 0%, 0.1);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 500ms;
    transition-timing-function: ease;
    max-width: fit-content;
}

.grid-img:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: 500ms;
    transition-timing-function: ease;
}

.grid-img > .grid-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#lorem {
    font-size: 0.6em;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    padding-top: 2rem;
    text-align: center;
}

.random-text {
    text-align: center;
}

/* -----------------part 3-------------------- */

.content-3 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .content-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content2-img {
    position: relative;
    object-fit: cover;
    width: 65%;
    overflow: hidden;
}

#kyla-img {
    position: relative;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
    height: auto;
    margin-left: 5rem;
}

#flower {
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: transform .7s ease-in-out;
}

#flower:hover {
    transform: rotate(10deg);
    transform: rotate(10deg);
}

.content3-text {
    width: 35%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 768px) and (max-width:1140px){
    #flower{
        display: none;
    }
}

@media (max-width: 768px) {

    .content2-img {
        position: relative;
        object-fit: contain;
        width: 80%; 
       overflow: visible; 
    }
    .content3-text {
        width: 100%;
        align-items: center;
        margin: 0;
    }

    #flower{
        display: none;
    }

    #kyla-img {
         position: relative; 
         bottom: 0px;
        right: 0px; 
        max-width: 100%;
        height: auto;
         margin-left: 0; 
    }
    
    .content3-text > div {
        margin: 20px;
        text-align: center;
    }

    #content3-text2{
        margin-top: 0;
        margin-bottom: 40px;
        text-align: center;
    }
    #content3-text3{
        margin-bottom: 2rem;
    }
}

#content3-text1 {
    color: rgb(223, 145, 57);
    font-family: 'Noto Serif Display', serif;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

#content3-text2 {
    color: gray;
    font-family: 'Noto Serif Display', serif;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

#content3-text3 > span {
    color: white;
    font-family: 'Noto Serif Display', serif;
    margin: 0.5rem;
    border: none;
    background-color: rgb(218, 138, 47);
    padding: 0.1rem 0.9rem;
    font-size: 1rem;
}

#content3-text3 {
    margin-top: 20px;
    margin-bottom: 50px;
}

#content3-text4 {
    font-family: 'Dancing Script', cursive;
    color: gray;
    font-size: 1.5rem;
}


/* ---------- PART 4 ---------- */
.content-4 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 30%;
    font-size: 1.2rem;
}

.do-you {
    text-align: end;
    color: rgb(223, 145, 57);
    font-family: 'Noto Serif Display', serif;
    margin-right: 30px;
    
}

.newsletter {
    text-align: end;
    color: gray;
    font-family: 'Noto Serif Display', serif;
    margin-right: 30px;
    margin-top: 10px;
}

#text-type {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    cursor: pointer;
    padding: 2px;
    font-size: 1rem;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-right: 30px;
    margin-top: 10px;
}

#text-type:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
    cursor: text;
}

#text-type:hover {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

.signUpButton {
    font-family: 'Noto Serif Display', serif;
    border: none;
    background-color: rgb(245, 177, 99);
    color: white;
    cursor: pointer;
    padding: 2px;
    font-size: 1em;
    margin-right: 30px;
    margin-top: 10px;
}

.lorem2 {
    font-size: 0.7em;
    color: rgb(160, 160, 160);
    text-align: end;
    margin-right: 30px;
    margin-top: 10px;
}

.img-wrapper2 {
    overflow: hidden;
    width: 30%;
}

.vase {
    object-fit: cover;
    width: 100%;
    height: 700px;
}


@media (max-width: 768px){
    .content-4 {
        margin-bottom: 20px;
    }
    .img-wrapper {
        position: absolute;
        left: 0;
        top: 0;
         object-fit: cover; 
        width: 100%;
        height: 100%;
    }

    .img-wrapper2 {
        display: none;
    }

    .do-you {
        margin: 20px 20px;
        text-align: center;
    }

    .newsletter {
        margin: 10px 10px;
        text-align: center;
    }

    .lorem2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    
    
    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        width: 80%;
    }
}

/* ----------------- PART 5 ------------------ */

.content-5 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

/* .wrapperLeftBG{
    position: absolute;
    overflow: hidden;
    right: 0;
} */

 .img5-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    width: 30%;
    margin-right: 0.5%;
} 

.img5-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
    width: 50%;
    margin-right: 0.5%;

}

.img5-3 {
    
    position: relative;
    top: 45px;
    display: flex;
    align-items: start;
    overflow: hidden;
    width: 20%;
}

.image5-1 {

    height: 300px;
    object-fit: cover;
}

.image5-2 {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.image5-3 {
    height: 200px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .content-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img5-1 {
        display: flex;
        align-items: end;
        overflow: hidden;
        width: 100%;

    }

    .img5-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        overflow: hidden;
        width: 100%;
    }

    .img5-3 {
         margin-left: 5rem; 
        display: flex;
        align-items: start;
        overflow: hidden;
        width: 100%;
    }

}

.decor{
    background-color: rgb(141, 140, 140);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.4rem;
    width: 100%;
}

.orange-div{
    margin-left: 50%;
    margin-bottom: 1%;
    width: 50%;
    height: 2%;
    background-color: rgba(224, 150, 65,0.7);
    
}

.new-season {
    font-family: 'Noto Serif Display', serif;
    color: rgb(224, 150, 65);
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-align: start;
}

.bedroom {
    background-color: rgb(141, 140, 140);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.4rem;
}

.elegant-style {
    font-family: 'Noto Serif Display', serif;
    color: rgb(245, 177, 99);
    font-size: 1.2rem;
    margin: 2rem;
}

/* ----------------------------part 6---------------------------- */

.content-6 {
    margin: 1rem;
    display: flex;
    position: relative;
    background: url(../home-images/bg2.jpg) no-repeat;
}

.content-6-text{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-around;
    font-size: 2rem;
}

.content-6-text .do-it{
    font-family: 'Noto Serif Display', serif;
    color: rgb(245, 177, 99);
    text-align: end;
}

.content-6-text .renovate{
    font-family: 'Noto Serif Display', serif;
    color: gray;
    text-align: end;
}

.content-6-text :last-child{
    font-family: 'Dancing Script', cursive;
    color: gray;
    text-align: end;
}

.content-6-images {
    margin: 1rem;
    position: relative;
}

.painting {
    max-width: 100%;
}

.painting-wrapper, .painting{
    position: relative;
} 

.painting-flower{
    position: absolute;
    width: 12rem;
    height: auto;
    transform: rotate(60deg);
    bottom: 50px;
}

.over-painting{
    position: relative;
    bottom: 50px;
    left: 350px;
    border: 6px solid white;
    border-radius: 10px;
    max-width: 250px;
}

.circles{
    position: absolute;
    display: flex;
    flex-direction:column ;
    left: 98%;
    bottom: 30%;
}

.orange-div-6{
    position: absolute;
    width: 6%;
    height: 30%;
    background-color: rgb(245, 177, 99);
    left: 100%;
    bottom: 70%;
    border: 5px solid white;
    top: 0;
}

.circle1{
    width: 2rem;
    height: 2rem;
    background-color: rgb(245, 177, 99);
    border: 5px solid white;
    border-radius: 50%;
}

.circle2{
    width: 2rem;
    height: 2rem;
    background-color: rgb(219, 205, 189);
    border: 5px solid white;
    border-radius: 50%;
}

.circle3{
    width: 2rem;
    height: 2rem;
    background-color: rgb(78, 77, 75);
    border: 5px solid white;
    border-radius: 50%;
}

@media (max-width:768px){
    .content-6{
        flex-direction: column;
    }

    .content-6-images{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .painting-flower{
        display: none;
    }

    .circles, .orange-div-6{
        display: none;
    }

    .over-painting{
        position: static;
        border: 6px solid white;
        border-radius: 10px;
        max-width: 250px;
    }

    .content-6-text {
        align-items: center;
    }

    .content-6-text > .do-it, .content-6-text > .renovate{
        padding: 1rem;
        text-align: center;
    }

    .over-painting{
        border: none;
        border-radius: 0;
    }
}

/* --------------------PART 7-------------------- */
.content-7{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.kitchen-wrapper{
    position: relative;
    
}

.kitchen{
    width:100%;
    height:100%;
    object-fit:cover;
    z-index: 1;
}

.p-form-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    max-width: 70%;
}

.open-wrapper > .open-your {
    text-align: start;
    font-family: 'Noto Serif Display', serif;
    color: rgb(223, 145, 57);
    font-size: 1.5rem;
}

.form-wrapper7 {  
    margin-top: 8rem;
    padding: 5rem 3rem 5rem 3rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.form-7{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-7 > input{
    margin: 5px;
    width: 80%;
}

.form-7 > p {
    font-family: 'Montserrat', sans-serif;
    color: #a5a5a5;
    font-size: 0.7rem;
    margin: 5px;
    width: 80%;
}

.form-7 >  input[type="submit"] {
    margin: 0.5rem;
    font-family: 'Noto Serif Display', serif;
    border: none;
    background-color: rgb(245, 177, 99);
    color: white;
    cursor: pointer;
    padding: 2px;
    font-size: 1em;
}

.form-7 > input[type="text"] {
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    cursor: pointer;
    padding: 2px;
    font-size: 1rem;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.form-7 > input[type="text"]:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
    cursor: text;
}

.form-7 > input[type="text"]:hover{
    box-shadow:  5pt 2pt #D3D3D3;
}

@media (max-width:768px) {

    .content-7 {
        margin-bottom: 0;
    }
    .kitchen-wrapper{
        display: none;
    }
    .p-form-wrapper {
        
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 200px;
            overflow: hidden;
            max-width: 100%;
            transform: translate(-50%,-50%);
            margin: 0;
    }

    .form-wrapper7{
        margin: 0;
        padding: 0;
        
    }
}

@media (min-width:768px) and (max-width:1140px){
    .content-7 {
        margin-bottom: 0;
    }
    .kitchen-wrapper{
        display: none;
    }
    .p-form-wrapper {  
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 150px;
        overflow: hidden;
        max-width: 100%;
        transform: translate(-50%,-50%);
        margin: 0;
    }

    .form-wrapper7{
        margin: 0;
        padding: 0;
        
    }
}

/* -------------------part 8------------ */
.content-8{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../home-images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: right 0px;
}

.left-img-wrapper{
    position: relative;
    left: 0;
}

.chair-img {
    object-fit: cover;
    max-width: 100%;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.right-wrapper > img {
    border: 0.6rem solid white;
    
    border-radius: 2.5%;
}

.right-top {
    position: relative;
    right: 6rem;
}

.text-div {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.orange-div-8{
    position: relative;
    width: 4rem;
    height: 15rem;
    background-color: rgba(245, 177, 99,0.8);
    bottom: 0;
    border: 5px solid white;
    top: 0;
}

.text-wrapper-8{
    display: contents;
    font-family: 'Noto Serif Display', serif;
    color: rgb(179, 115, 43);
    font-size: 2rem;
}

.text-wrapper-8 > .c24 {
    
    padding: 0;
    margin-bottom: 70px;
}

@media (max-width: 768px){
    .right-top, .right-bottom, .orange-div-8 {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1140px){
    .left-img-wrapper {
        display: none;
    }

    .right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right-top{
        right: 0;
    }
}

/* ----------------FOOTER--------------- */

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(141, 140, 140);
    margin-top:1rem; 
    justify-content: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
}

.fo {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    margin-right: 100px;
   
}

.news {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 33.3%;
    
}

.news > p {
    font-family: 'Noto Serif Display', serif;
    text-align: left;
    color: white;
    font-weight: 200;
    font-size: 1rem;
}
    
#type-text {
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    cursor: pointer;
    padding: 2px;
    font-size: 0.7rem;
    border-radius: 1px;
    border: 1px solid rgba(223, 145, 57, 0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    margin-right: 30px;
    margin-top: 10px;
    box-sizing: border-box;
}

#type-text:focus {
    border: 1px solid rgba(223, 145, 57, 1);
    box-shadow: 0 0 5pt 2pt #e0e0e0;
    cursor: text;
}

#type-text:hover {
    box-shadow: 0 0 5pt 2pt #a5a5a5;
}

#type-submit {
    width: 70%;
    color: white;
    background-color: rgb(211, 169, 92);
    cursor: pointer;
    padding: 2px;
    font-size: 0.8rem;
    font-family: 'Noto Serif Display', serif;
    border: none;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.fo a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: right;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.fo > .top-nav {
    
    font-weight: 200;
}

#loremm {
    font-size: 0.4rem;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
}

.sol {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    color: white; 
}

.sol .sol-p{
    font-family: 'Noto Serif Display', serif;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.sol > div{
    margin-top: 5px;
    margin-bottom: 2rem;
    font-size:3rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    font-family: 'Noto Serif Display', serif;
}
   
.sol:last-child{
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
}

@media (max-width: 768px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fo {    
        text-align: center;
        margin-right: 0;
    }

    .fo a {
        align-items: center;
    }

    .news{
        align-content: center;
    }

    .news > p{
        text-align: center;
    }

    #type-text{
        width: 100%;
    }

    #type-submit{
        width: 100%;
    }
    #loremm {
        width: 100%;
    }
    .sol > p, .sol > div {
        text-align: center;
    }
}